{% extends "base.html" %}

{% block content %}

<h2>Step 3: Bank & Financial Details</h2>

<form method="POST">

    <label>Annual Family Income (₹)</label><br>
    <input type="number" name="annual_income" required><br><br>

    <label>Number of Earning Members</label><br>
    <input type="number" name="earning_members" required><br><br>

    <label>Bank Account Number</label><br>
    <input type="text" name="bank_account" required><br><br>

    <label>Confirm Account Number</label><br>
    <input type="text" name="bank_account_confirm" required><br><br>

    <label>Bank Name</label><br>
    <input type="text" name="bank_name" required><br><br>

    <label>IFSC Code</label><br>
    <input type="text" name="ifsc_code" required><br><br>

    <label>Account Holder Name</label><br>
    <input type="text" name="account_holder" required><br><br>

    <button type="submit" class="btn">Next</button>

</form>

{% endblock %}